/* Main HIT styling */
.centered {
  text-align: center;
  padding-top: 2em;
  font-size: 14px;
}

.imagecontainer { 
  display:block; 
  border: 1em solid #FFFFFF; 
  margin: auto; 
  height: auto; 
  width: 350px
 } 
 .authFeedback {
  text-align: center;
  color: #FF2D4E;
 }

/* Twitter suggested minimal tweet styling */
 blockquote.twitter-tweet {
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  padding: 16px 16px 16px 16px;
  max-width: 600px;
  margin: 10px auto 10px auto;

}
 
blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
 
blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}
 
blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

fieldset {
  background: #fbfbfb;
  padding: 10px;
  margin-bottom: 5px;
}

label {
  font-weight: normal !important;
}

.subquestion {
  margin-left: 3em;
}

.subheading{
  color: #696969;
  margin-top: -5px;
  font-style: italic;
}
.validationMessage {
  font-weight: bold;
  color: #e60000;
  visibility: hidden;
}
.col-centered{
    margin: 0 auto;
    float: none;
}