<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/custom.css"/>
    <title>
        Welcome to the Experiment - Powered by Turk Expert v0.1.0
    </title>
</head>

<body>

<% if(!auth){ %>
	<!--Auth form -->
	<div class="form-group col-xs-4 col-xs-offset-4 centered">
		<form method='post' action='validateCode' class='form-horizontal'>
		<label>Please enter an access code to work on this HIT</label> 
		<input class="form-control" name="accessCode" size="25" type="text" />
		<p class="authFeedback">This access code is incorrect!</p>
		<div class="centered">
			<input type="submit" id="submitButton" class="btn btn-lg btn-primary" value= "Submit">
		</div>
	</div>
 <% } else{ %>  
	<!-- Main HIT Content -->
	<div class="col-xs-4 col-xs-offset-4">
		<div>
			<img alt="image_url" class="imagecontainer" src=<%= HITContent %> />
		</div>
		<div class="form-group centered">
			<label>Please provide a label for this image</label> <input class="form-control" name="imageLabel" size="25" type="text" />
		</div>
		<div class="centered">
			<input type="submit" id="submitButton" class="btn btn-lg btn-primary" value= "Submit">
		</div>
		
	</div>
<% } %>

<script>
	var authResult = window.location.href.split('validationSucess=')[1];
	if(!authResult){
		$('.authFeedback').css("visibility", "visible");
	}
</script>

<script src="//code.jquery.com/jquery-1.12.3.js"></script> 
  
</body>

</html>

