<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/custom.css"/>
    <title>
        Welcome to the Experiment - Powered by Turk Expert v0.1.0
    </title>
</head>

<body>

<% if(!auth){ %>
	<!--Auth form -->
	<div class="form-group col-xs-4 col-xs-offset-4 centered">
		<form method='post' action='validateCode' class='form-horizontal'>
		<label>Please enter an access code to work on this HIT</label> 
		<input class="form-control" name="accessCode" size="25" type="text" />
		<p class="authFeedback">This access code is incorrect!</p>
		<div class="centered">
			<input type="submit" id="submitButton" class="btn btn-lg btn-primary" value= "Submit">
		</div>
	</div>
 <% } else{ %>  
	<!-- Main HIT Content -->
	<div class="col-xs-4 col-xs-offset-4">
		<div>
			<img alt="image_url" class="imagecontainer" src=<%= HITContent %> />
		</div>
		<div class="form-group centered">
			<label>Please provide a label for this image</label> <input class="form-control" name="imageLabel" size="25" type="text" />
		</div>
		<div class="centered">
			<input type="submit" id="submitButton" class="btn btn-lg btn-primary" value= "Submit">
		</div>
		
	</div>
<% } %>

<!-- This modal should pop up if a Worker successfully enters an access code, but we never sent it to them
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="preHITSurvey">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">How did you learn about the access code for this HIT?</h4>
      </div>
      <div class="modal-body">
        <div class="radio">
        <label><input required="" type="radio" name="optradio" value="personal">Personal communication with another Turker</label>
        </div>
        <div class="radio">
        <label><input required= "" type="radio" name="optradio" value="forum">I saw the access code posted online</label>
        </div>
        <div class="input-group" style="margin-left: 3em">Please enter the name of the forum, group or website where you saw the access code posted: <input name="whichForum" size="1" style="height: 1.5em; width: 5em" type="text" /></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Proceed</button> 
      </div>
    </div>
  </div>
</div>
-->


<script>
	var authResult = window.location.href.split('validationSucess=')[1];
	if(!authResult){
		$('.authFeedback').css("visibility", "visible");
	}
</script>

<script src="//code.jquery.com/jquery-1.12.3.js"></script> 
  
</body>

</html>

