<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/client.css"/>
</head>

<body style="text-align: center;">
	<h3>You'll need a passcode to access HITs in this HIT group.</h3><br/>
	<h3>If you've already entered a passcode, we won't ask you for it again.</h3><br/>
	<h3>Please accept this HIT to begin.</h3>
</body>

</html>

