<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/client.css"/>
    <title>
        Welcome to the Experiment - Powered by Turk Expert v0.1.0
    </title>
</head>

<body>
	<h4>&nbsp; Please accept this HIT to continue. </h4>
</body>

</html>

