<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/client.css"/>
    <title>
        Thank you
    </title>
</head>

<body style="text-align: center;">
	<h3>&nbsp; Thank you for letting us know you are not available to work on these HITs. </h2>
  <br>
  <h3>&nbsp; You will still be eligible for future HIT notifications.</h4>
</body>

</html>

