<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/client.css"/>
</head>

<body style="text-align: center;">


	<% if(first) { %>

			<h3>This HIT group involves answering questions about real tweets and usually takes less than 1 minute per HIT. </h3><br/>
			<h3>Please accept this HIT to learn more.</h3>

	<%  } else { %>  

		<h3>You will need a code to access HITs in this group to verify that you are a human worker. </h3><br/>
		<h3>We have provided access codes to a number of Turkers already working on these HITs and similar HIT groups. <h3><br/>
		<h3>Each HIT group has a different access code, which you need only enter the first time you access the HITs.</h3><br/>
		<h3>Turkers are free to share access codes, so if you do not have one you may obtain it from another Turker.</h3>

	<%  }  %> 



</body>

</html>

