<html>

<% include ../includes/head %>

<body>
  <% include ../includes/nav %>
      <div id="wrapper">
        
        <!-- Navigation -->
        <% include ../includes/nav %>

          <div id="page-wrapper">

            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Roadmap
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Roadmap
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <h2>Create HITs</h2>
                    <h3>1. Load Data</h3>
                    <h3>2. Verify HITs</h3>
                    <h3>3. Publish</h3>
                
                <h2>Manage HITs</h2>
                    <h3>1. Get </h3>
                    <h3>2. Update </h3>
                    <h3>3. Delete </h3>
                
                <h2>Manage Experiment</h2>
                    <h3>1. Manage Assignments</h3>
                    <h3>2. Contact User</h3>
                    <h3>3. Collect Data</h3>
        

        </div>
    </div>
</body>

</html>